.icon.icon-16.icon-advancedworkflowadmin {
  background-image: url(../images/workflow-menu-icon.png); }

.field.date .message.required, .field.datetime .message.required {
  position: relative;
  top: 10px; }

/**
 * Embargo & expiry badge styling
 *
 * 3 different statuses - embargo, expiry, embargo & expiry (both assigned)
 * Note: CSS nesting convention based on SilverStripe admin styling
 */
.cms-tree.jstree span.badge.status-embargo,
.cms-tree.jstree span.badge.status-expiry,
.cms-tree.jstree span.badge.status-embargo_expiry {
  background-color: #ebfbff;
  color: #1F9433; }
  #cms-content-tools-CMSMain .cms-tree.jstree span.badge.status-embargo, #cms-content-tools-CMSMain
  .cms-tree.jstree span.badge.status-expiry, #cms-content-tools-CMSMain
  .cms-tree.jstree span.badge.status-embargo_expiry {
    -webkit-box-shadow: 0px 0px 6px 2px #ebfbff;
    box-shadow: 0px 0px 6px 2px #ebfbff; }
