.icon.icon-16.icon-advancedworkflowadmin {
	background-image: url(../images/workflow-menu-icon.png);
}
.field.date, .field.datetime {
	.message {
		&.required {
			position: relative;
			top: 10px;
		}
	}
}

#cms-content-tools-CMSMain .cms-tree.jstree span.badge {
    &.status-embargo {
        color: #53aa24;
    }
    &.status-expiry {
        color: #bb3344;
    }
    &.status-embargo_expiry {
        color: #ddcc00;
    }
    &.status-embargo, &.status-expiry, &.status-embargo_expiry {
        -webkit-box-shadow: 0px 0px 6px 2px #fff7f2;
        box-shadow: 0px 0px 6px 2px #fff7f2;
    }
}
