// Advanced Workflow colours, that are not part of silverstripe/admin/client/src/styles/_variables.scss
$grey-light: #ebfbff;
$grey-lightish: #d9d9d9;

$pale-green: #DFD;
$pale-red: #FDD;

$dark-blue:  #7F9198;
$med-blue:   #95A5AB;
$light-blue: #D7DDE0;
$light-grey: #F8F8F8;

$wf-grid:   8px;
$wf-radius: 3px;

$wf-height:    28px;
$wf-min-width: 360px;

